project:
  type: website
  output-dir: docs

website:
  title: "Arpan"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - favourites.qmd
      - href: blog.qmd      # <--- Add this line
        text: Blog

format:
  html:
    theme:
      - sandstone
      - brand
    css: styles.css
    toc: true



